
@model Asset.Web.Models.AccountViewModels.LoginViewModel


@{
    ViewData["Title"] = "Login";
    Layout = "_Login";
    var action = "";
}
}

<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="        background-image: url(../assets/img/MyAsset.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>ALPHABETA - Enterprise </b> </h4>

        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> <b></b> Login
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <p><b>@ViewBag.Error</b></p>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]"  method="post" class="login100-form">
                @if (ViewBag.msg != "")
                {
                    <div class="col-sm-12" style="margin-top: -15px; padding-left: 0px; padding-right: 0px; margin-bottom: 0px;">
                        <div id="dialog-form" title="Login Error">
                            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>

                        </div>
                    </div>
                }
                <span class="login100-form-title p-b-10 p-t-15"></span>
                <div>
                    <p><b>@ViewBag.Error</b></p>
                    <label class="control-label">Username <span class="text-danger">*</span></label>
                    <div class="wrap-input100">
                        <input class="form-control text-form-control" style="width: 100%;" type="text" asp-for="Email" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>


                    <label class="control-label" style="margin-top:25px;">Password <span class="text-danger">*</span></label>
                    <div class="wrap-input100">
                        <input class="form-control text-form-control" style="width: 100%;" type="password" asp-for="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>


                    @if (ViewBag.pass == "n")
                    {
                        <label class="control-label" style="margin-top:25px;">Confirm Password <span class="text-danger">*</span></label>
                        <div class="wrap-input100">
                            <input class="form-control text-form-control" type="password" name="confirm" placeholder="Confirm Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>

                        </div>
                    }


                    <div class="container-login100-form-btn" style="margin-top:25px;">
                        <button class="btn btn-primary btn-lg" style=" width:100%; color:white;"><b>Login</b></button>
                    </div>
                    <div class="m-t-20" style="margin-bottom:75px;">
            Forget Password? Click <a asp-controller="Account" asp-action="ForgotPassword">here</a> to Reset Password<br />
        </div>
</form>
            <hr />
            <span class="text-center mb-0">
                &copy; Copyright ERP 2020 <br />
            </span>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>



<!--<div class="row">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="account-page">
            <div class="container">
                <h3 class="account-title"> Login</h3>
                <div class="account-box">
                    <div class="account-wrapper">
                        <div class="account-logo">
                            <a href="index.html">-->
@*<img src="~/assets/img/abc" alt="Focus Technologies"></a>*@
<!--<img src="~/assets/img/ABC.JPG" alt="Focus Technologies" />
    </a>
</div>
@ViewBag.LogError
<div class="form-group">
    <label class="control-label">Username or Email</label>
    <input asp-for="Email" class="form-control " />-->
@*<span asp-validation-for="Email" class="text-danger"></span>*@

<!--</div>
<div class="form-group">
    <label class="control-label">Password</label>
    <input asp-for="Password" class="form-control" />-->
@*<span asp-validation-for="Password" class="text-danger"></span>*@
<!--</div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block account-btn" type="submit">Login</button>
                        </div>
                        <div class="text-center">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</div>-->
