@model Asset.Web.Models.CorpEarning

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CorpEarning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValueAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Corpid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Corpid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorpEarningid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorpEarningid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
